<!-- SOBRE MÍ -->

<section id="sobremi" class="hero">

    <div class="container hero-inner">
        
        <div class="hero-text animate-left">
            <h2>Sobre mí</h2>
            <p>En 1980 con <span style="font-weight: bold">18 años</span> descubrí mi pasión por la programación al comenzar a estudiar la carrera de Ingenieria y recibir una asignatura de introduccion a la programación usando lenguaje FORTRAN, trabaje con tarjetas perforadas y enormes computadoras que ocupaban salas enteras. </p>
            <p>Aquella experiencia temprana marcó mi vida profesional: desde entonces no he dejado de aprender, evolucionar y disfrutar cada nueva tecnología que ha ido apareciendo.</p>
            <p>A lo largo de más de <span style="font-weight: bold">40 años</span> he trabajado con una amplia variedad de lenguajes de programación empezando con FORTRAN y continuando con: Basic, Visual Basic, Pascal, Turbo Pascal, Delphi, C, C++, C#, Kotlin, Swift, ASP Clasico (con VBscript), PHP, JavaScript y TypeScript.</p>
            <p>He estado involucrado en el desarrollo de mas de <span style="font-weight: bold">100 software</span> para escritorio, intranets, extranets y apps para móviles Android.</p>
            <p>He trabajado en proyectos en mas de <span style="font-weight: bold">5 paises</span> de conjunto con otros especialistas en áreas como diseño gráfico, marketing digital, SEO, UX/UI, gestión de proyectos, administración de sistemas, programación y diseño e implementacion de bases de datos.</p>      
            <p>He enfrentado el desarrollo de más de <span style="font-weight: bold">10 portales web</span> en varios idiomas, siempre con la misma motivación: crear soluciones útiles, estables y bien construidas.</p>
            <p>Durante mi carrera profesional he trabajado con mas de <span style="font-weight: bold">30 empresas</span> en varios países, lo que me ha permitido adquirir una amplia experiencia en el desarrollo de soluciones tecnológicas innovadoras.</p>
        </div>

      <div class="metrics-grid animate-right" style="margin-top: 60px;">
        
        <div class="metric-card">
            <div class="metric-image">
                <img src="img/18años.jpg" alt="Tecnología">
            </div>
            <span class="metric-number animar" data-target="18">0 años</span>
            <span class="metric-label">Edad del primer contacto con la informática.</span>
        </div>

        <div class="metric-card">
            <div class="metric-image">
                <img src="img/experiencia.jpg" alt="Tecnología">
            </div>
            <span class="metric-number animar" data-target="40">0+</span>
            <span class="metric-label">Años de experiencia hasta la actualidad.</span>
        </div>

        <div class="metric-card">
            <div class="metric-image">
                <img src="img/100proyectos.jpg" alt="Tecnología">
            </div>
            <span class="metric-number animar" data-target="100">0+</span>
            <span class="metric-label">Proyectos realizados entre escritorio, intranets, extranets y apps para móviles.</span>
        </div>
        
        <!-- Trabajos liderados -->
        <div class="metric-card">
            <div class="metric-image">
                <img src="img/mundo.jpg" alt="Tecnología">
            </div>
            <span class="metric-number animar" data-target="5">0+</span>
            <span class="metric-label">Trabajos de conjunto con otros especialistas en varios países.</span>
        </div>
        
        <!-- Proyectos multilenguaje -->
        <div class="metric-card">
            <div class="metric-image">
                <img src="img/banderas.jpg" alt="Tecnología">
            </div>
            <span class="metric-number animar" data-target="10">0+</span>
            <span class="metric-label">Proyectos multilenguaje: Español, Inglés, Francés, Italiano, Ruso y Chino mandarín.</span>
        </div>
        
        <!-- Empresas con las que he trabajado -->
        <div class="metric-card">
            <div class="metric-image">
                <img src="img/empresas.jpg" alt="Tecnología">
            </div>
            <span class="metric-number animar" data-target="30">0+</span>
            <span class="metric-label">Empresas con las que he trabajado.</span>
        </div>


    </div>
  </section>





  <!--<section id="sobre-mi" class="section">

    <div class="container two-columns">
  
      <div class="animate-left">
          <h2>Sobre mí</h2>
          <p>En 1980 con <span style="font-weight: bold">18 años</span> descubrí mi pasión por la programación al comenzar a estudiar la carrera de Ingenieria y recibir una asignatura de introduccion a la programación usando lenguaje FORTRAN,
            trabaje con tarjetas perforadas y enormes computadoras que ocupaban salas enteras. </p>
          <p>Aquella experiencia temprana marcó mi vida profesional: desde entonces no he dejado de aprender, evolucionar y disfrutar cada nueva tecnología que ha ido apareciendo.</p>
          <p>A lo largo de más de <span style="font-weight: bold">40 años</span> he trabajado con una amplia variedad de lenguajes de programación empezando con FORTRAN y continuando con: Basic, Visual Basic, Pascal, Turbo Pascal, Delphi, C, C++, C#, Kotlin, Swift, ASP Clasico (con VBscript), PHP, JavaScript y TypeScript.</p>
          <p>He estado involucrado en el desarrollo de mas de <span style="font-weight: bold">100 software</span> para escritorio, intranets, extranets y apps para móviles Android.</p>
          <p>He trabajado en proyectos en mas de <span style="font-weight: bold">5 paises</span> de conjunto con otros especialistas en áreas como diseño gráfico, marketing digital, SEO, UX/UI, gestión de proyectos, administración de sistemas, programación y diseño e implementacion de bases de datos.</p>      
          <p>He enfrentado el desarrollo de más de <span style="font-weight: bold">10 portales web</span> en varios idiomas, siempre con la misma motivación: crear soluciones útiles, estables y bien construidas.</p>
          <p>Durante mi carrera profesional he trabajado con mas de <span style="font-weight: bold">30 empresas</span> en varios países, lo que me ha permitido adquirir una amplia experiencia en el desarrollo de soluciones tecnológicas innovadoras.</p>
      </div>
        
      <div class="metrics-grid animate-right" style="margin-top: 60px;">

        <div class="metric-card">
            <div class="metric-image">
                <img src="img/18años.jpg" alt="Tecnología">
            </div>
            <span class="metric-number animar" data-target="18">0 años</span>
            <span class="metric-label">Edad del primer contacto con la informática.</span>
        </div>

        <div class="metric-card">
            <div class="metric-image">
                <img src="img/experiencia.jpg" alt="Tecnología">
            </div>
            <span class="metric-number animar" data-target="40">0+</span>
            <span class="metric-label">Años de experiencia hasta la actualidad.</span>
        </div>

        <div class="metric-card">
            <div class="metric-image">
                <img src="img/100proyectos.jpg" alt="Tecnología">
            </div>
            <span class="metric-number animar" data-target="100">0+</span>
            <span class="metric-label">Proyectos realizados entre escritorio, intranets, extranets y apps para móviles.</span>
        </div>
    -->
       
        <!-- Trabajos liderados -->
        <!--<div class="metric-card">
            <div class="metric-image">
                <img src="img/mundo.jpg" alt="Tecnología">
            </div>
            <span class="metric-number animar" data-target="5">0+</span>
            <span class="metric-label">Trabajos de conjunto con otros especialistas en varios países.</span>
        </div>
        -->

        <!-- Proyectos multilenguaje -->
        <!--
        <div class="metric-card">
            <div class="metric-image">
                <img src="img/banderas.jpg" alt="Tecnología">
            </div>
            <span class="metric-number animar" data-target="10">0+</span>
            <span class="metric-label">Proyectos multilenguaje: Español, Inglés, Francés, Italiano, Ruso y Chino mandarín.</span>
        </div>
        -->

        <!-- Empresas con las que he trabajado -->
        <!--<div class="metric-card">
            <div class="metric-image">
                <img src="img/empresas.jpg" alt="Tecnología">
            </div>
            <span class="metric-number animar" data-target="30">0+</span>
            <span class="metric-label">Empresas con las que he trabajado.</span>
        </div>
        -->

<!--      </div>  
    </div>
  </section>
  -->
